<header>
    <nav>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-links">
            <li class="nav-link">
                <a href="/index.html">Home</a>
            </li>
            <li class="nav-link">
                <a href="#about">About</a>
            </li>
            <li class="nav-link">
                <a href="#projects">Projects</a>
            </li>
            <li class="nav-link">
                <a href="/blog/">Blog</a>
            </li>
        </ul>
    </nav>
    <button id="show-nav-btn" aria-label="Show Navigation">
        <img src="assets/double-arrow-bottom-icon.svg" alt="">
    </button>
</header>